/*Increase font-family of the user*/
._3hm{
    font-size: 40px; !important
}

/*Remove the Home button*/
._398f._398g,
/*Hide the "friends request" icon*/
#fbRequestsJewel,
/*Hide the "settings" button*/
._398f
{
    display: none;
}

/*Increasing the font-size of the commentary*/
p{
    font-size: 50px;
}

._4-u2._5v6e.cardRightCol._4-u8,
.rhcFooterCopyright, .rhcFooterWrap,
._4-u2._19ah._2ph_._4-u8,
.fbChatSidebar.fixed_always._5pr2
{
    display: none;
}
/*Get rid of the horizontal scroller*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Get rid of the left margin of the newsfeed*/
#contentCol{
    margin-left: 0 !important;
}

/*Getting rid of the setting logo*/
._53rx,
/*Getting rid of the photo album*/
._4-h7._4sv0._m,
/*Getting of choosing to who you want to post*/
._6a._43_1._3h0d{
    display: none ;
}

/*._5v3q ._4-eo::after{*/
    /*position: relative !important;*/
/*}*/
